<div class="all">
    <h1 class="titleContent text-uppercase">{{title}}</h1>

    <div class="list">
        <div *ngFor="let alumno of alumnos">
            <div *ngIf="alumno.calificacion>=7" [ngClass]="aprobo? 'si' : 'no' ">
                <h2> El alumno {{alumno.nombre}} tuvo una nota de: {{alumno.calificacion}} en el curso de:
                    {{alumno.curso}} Estado: aprobado</h2>
            </div>
            <div *ngIf="alumno.calificacion<7" [ngClass]="aprobo? 'no' : 'si' ">
                <h2>El alumno {{alumno.nombre}} obtuvo una nota de: {{alumno.calificacion}} en el curso de:
                    {{alumno.curso}} Estado: desaprobado </h2>
            </div>
        </div>
        <div *ngFor="let alumna of alumnas">
            <div *ngIf="alumna.calificacion>=7" [ngClass]="aprobo? 'si' : 'no' ">
                <h2> La alumna {{alumna.nombre}} tuvo una nota de: {{alumna.calificacion}} en el curso de:
                    {{alumna.curso}} Estado: aprobado</h2>
            </div>
            <div *ngIf="alumna.calificacion<7" [ngClass]="aprobo? 'no' : 'si' ">
                <h2>La alumna {{alumna.nombre}} obtuvo una nota de: {{alumna.calificacion}} en el curso de:
                    {{alumna.curso}} Estado: desaprobado </h2>
            </div>
        </div>
    </div>